{% extends "base.html" %}

{% block title %}详情{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/detail.css">
{% endblock %}

{% block body %}
<div class="row" style="margin-top:20px">
    <div class="col"></div>
    <div class="col-8">
        <div>
            <h3 class="page-title">{{question.title}}</h3>
        </div>
        <div>
            <div class="question-left"> <span class="question-image"><img class="user-avatar" src="../static/images/head.png" alt=""></span>
                <span class="question-author">{{question.username}}</span>
            </div>
            <div class="question-right"><span class="question-time">{{moment(question.create_time,"YYYY-MM-DD
                    hh:mm:ss").fromNow()}}</span>
            </div>

        </div>


        <hr>
        <p class="question-content">{{question.content}}</p>
        <hr>

        <form action="{{url_for('qa.comment',question_id=question.id)}}" method="post">
            <div class="form-group">
                <textarea name="content" id="" cols="30" rows="2" placeholder="输入评论" class="form-control"></textarea>
            </div>
            <div class="form-group" style="text-align: right">
                <button class="btn btn-primary">评论</button>
            </div>
        </form>

        {% for message in get_flashed_messages() %}
        <div class="form_group">
            <div class="text-danger">{{message}}</div>
        </div>
        {% endfor%}



        <span class="comment-count">评论数:{{comments |length}} </span>
        <span class="comment-count">浏览量:{{pv}}</span>
        <hr>

        <ul class="comment-group">
            {% for comment in comments %}
            <li>
                <div class="user-info">
                    <img class="user-header" src="{{url_for('static',filename='images/comment-user.png')}}" alt="">
                    <span class="username">{{comment.username}}</span>
                    <span class="create-time">{{moment(comment.create_time,"YYYY-MM-DD
                        hh:mm:ss").fromNow()}}</span>
                </div>
                <p class="comment-content">{{comment.content}}</p>
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="col"></div>
</div>
{% endblock %}